In [16]:
"""
Function VS Method
"""

def my_function(x):
    return x+1
    
y = 3
result = my_function(y)
print(result)

x = 1

class my_class:
    @staticmethod
    def my_method(self):
        return x+1

cls = my_class()
cls.my_method(5)

4

2

In [72]:
"""
Function Parameter
"""

def introduce_myself(name, birthyear, city): #parameter
    print("Hello everyone, my name is %s, I was born in %d, and I live in %s." 
          % (name, birthyear, city))
    
introduce_myself("Jong Hyun Kim", 1985, "Suwon") #argument

Hello everyone, my name is Jong Hyun Kim, I was born in 1985, and I live in Suwon.

In [18]:
"""
Function Indentation
"""

def testfunction(number):
    print("inside the testfunction")

In [71]:
"""
Return Keyword
"""

# Leap Years = 윤년 (2월 29일)
def check_leap_year(year):
    if year % 4 == 0:
        return " %s is a leap year." %(year)
    else:
        return " %s not a leap year." %(year)
check_leap_year(2021)

' 2021 not a leap year.'

In [33]:
"""
Returning Multiple Values
"""

def square_point(x, y, z):
    x_squared = x ** 2
    y_squared = y ** 2
    z_squared = z ** 2
    return x_squared, y_squared, z_squared

three_squared, four_squared, five_squared = square_point(3, 4, 5)
print(three_squared, four_squared, five_squared)

9 16 25

In [46]:
"""
Global Variables
"""

a = "Hello" # global var

def prints_a():
    print(a)

In [49]:
"""
Local Variables
"""

b=2 # global var.

def f1():
    a = 2 # Local var.
    print(b)

f1()

2

In [55]:
"""
Keyword Arguments and Default Values
"""

def findvolume(height, width, depth):
    print("Height = %s" %(height))
    print("Width = %s"  %(width))
    print("Depth = %s" %(depth))
    return height * width * depth;

print (findvolume(width=2, height=1, depth=3))

Height = 1
Width = 2
Depth = 3
6